# Virtual environments
env/
venv/

# Python cache
__pycache__/
*.pyc

# IDE files
.idea/
.vscode/

# Environment variables
.env

# Secrets (be specific)
smooth-tesla-452315-v2-498d2be13cee.json

# OS files
.DS_Store

# Generated app data
uploads/
transcriptions/
captions/
clips/